h2 {
    margin-left: 41.5cm;
    white-space: nowrap;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
}

h3 {
    position: absolute;
    padding: 0px 42px;
    margin-top: -1.7cm;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(161, 19, 19);
}
section {
    background-color: gray;
    border-color:gray ;
    padding: 1px;
    width: 100%;
    position: sticky;
    top: 0;
}
body {
    margin: 0px;
    background-repeat: no-repeat;
    background-color: grey;
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 42px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.2s ease-out;

}
button:hover {
    background-color: rgba(0, 255, 255, 0.671);
}
h4 {
    text-align: center;
    line-height: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: black;
}
.nav_link2 {
    position: relative;
    color:black;
    background: none;
    text-decoration: none;
}
.nav_link2::after {
    content: "";
    height: 4px;
    width: 100%;
    background: black;
    display: block;
    position: absolute;
    margin-left: 34.3cm;
    bottom: -4.5px;
    opacity: 0;
    transition: all 0.2s ease-out;
    pointer-events: none;
}
.nav_link2:hover::after {
    opacity: 1;
}