h2 {
    font-family: 'Franklin Gothic Medium';
    font-size: 37px;
    margin-top: 1.5cm;
    margin-left: 9.65cm;
}
body {
    background-color: rgba(14, 13, 13, 0.616);
    background-image: url("https://octopusdigitalstrategy.files.wordpress.com/2016/06/stoic-strategist.png?w=584");
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
    width: 800px;
    background-position: 28cm;
    background-position-y: 2cm;
}
p {
    text-align: justify;
    margin-left: 3.3cm;
    margin-right: -1.4cm;
    font-size: 40px;
}

a {
    font-weight: bolder;
    color:white;
    text-decoration: none;
}
h3 {
    margin-left: 41.5cm;
    white-space: nowrap;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
}
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 42px;
    background-color: aqua;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.2s ease-out;

}
button:hover {
    background-color: rgba(0, 255, 255, 0.671);
}