h2 {
    margin-left: 41.5cm;
    white-space: nowrap;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
}

h3 {
    margin-top: -1.5cm;
    margin-left: 1cm;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    color : rgb(161, 19, 19);
}
section {
    background-color: gray;
    border-color:gray ;
    padding: 1px;
    width: 100%;
    position: sticky;
    top: 0;
}
body {
    margin: 0px;
    background-repeat: no-repeat;
    background-color: grey;
}
.nav_link {
    position: relative;
    font-weight: bolder;
    color:white;
    background: none;
    text-decoration: none;
}
.nav_link::after {
    content: "";
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    position: absolute;
    bottom: -6px;
    opacity: 0;
    transition: all 0.2s ease-out;
    pointer-events: none;
}
.nav_link:hover::after {
    opacity: 1;
}
h4 {
    text-align: center;
    line-height: 600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: black;
}
.nav_link2 {
    position: relative;
    color:black;
    background: none;
    text-decoration: none;
}
.nav_link2::after {
    content: "";
    height: 4px;
    width: 26%;
    background: black;
    display: block;
    position: absolute;
    margin-left: 34.3cm;
    bottom: -4.5px;
    opacity: 0;
    transition: all 0.2s ease-out;
    pointer-events: none;
}
.nav_link2:hover::after {
    opacity: 1;
}