body {
    background-image: url("https://media.discordapp.net/attachments/717021622619602984/1188158847156768778/bookcover.jpg?ex=65abf728&is=65998228&hm=e8d9f2eac1cbd411e00332c643d4a4b829b3d6955d30ceae9e799ecff3bab1fc&=&format=webp&width=474&height=670");
    background-repeat: no-repeat;
    background-position-x: 18cm;
    background-position-y: 4cm;
    background-color: grey;
}
.one {
    position: static;
    text-align: justify;
    margin-right: 35cm;
    margin-left: 2cm;
    margin-top: 2.5cm;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.two {
    text-align: justify;
    margin-left: 32.5cm;
    margin-right: 2cm;
    margin-top: -21.5cm;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: static;
}
.three {
    text-align: justify;
    margin-left: 32.5cm;
    margin-right: 2cm;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 9cm;
    margin-top: 1.9cm;
    color: black;
    position: static;
}
.four {
    text-align: justify;
    margin-left: 32.5cm;
    margin-right: 2cm;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top:-7.1cm;
}
.five {
    text-align: justify;
    margin-left: 32.5cm;
    margin-right: 2cm;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 2cm;
    position: static;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 20.7cm;
    margin-bottom: 2cm;
}
